body {
  padding: 0;
  margin: 0;
  font-family: "Mukta", sans-serif;
  background-color: rgb(235, 232, 240);
}

#btn,
button {
  background-color: #6f4caf;
  color: #fff;
  padding: 10px 10px;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  margin-left: 310px;
}

.processContainer {
  padding: 20px;
  padding-top: 60px;
  text-align: center;
}
